In [68]:
%%html
<style>
    table{float:left}
</stle>

## Problem statement

**Sales of products in four different regions is tabulated for males and females. 
Find if male-female buyer rations are similar across regions**

| Gender|East |West |North|South|
| :---: |:---:|:---:|:---:|:---:|
|Males  | 50  |142  |131  |70   |
|Females|550  |351  |480  |350  |

#### Null Hypothesis     --> All Proportions are equal 
####  Alternate Hypothesis--> Not All Praportions are equal

In [69]:
#Importing Necessory libraries
import pandas as pd
import numpy as np
import seaborn as sns
import scipy.stats as st
import statsmodels.api as sm
import matplotlib.pyplot as plt

In [70]:
#loading data inton data frame 
df=pd.read_csv("BuyerRatio.csv",usecols=[1,2,3,4])

In [71]:
#displaying data
df

   East  West  North  South
0    50   142    131     70
1   435  1523   1356    750

In [72]:
df.shape

(2, 4)

In [73]:
#Geting data into array format 
data=np.array(df)

In [74]:
data

array([[  50,  142,  131,   70],
       [ 435, 1523, 1356,  750]])

In [75]:
#it will give P value for test 
stats,P_value,dof,expected=st.chi2_contingency(data)

In [76]:
stats,P_value,dof,expected

(1.595945538661058,
 0.6603094907091882,
 3,
 array([[  42.76531299,  146.81287862,  131.11756787,   72.30424052],
        [ 442.23468701, 1518.18712138, 1355.88243213,  747.69575948]]))

In [77]:
P_value

0.6603094907091882

### P_value > 0.05

### So We accept the null hypothesis

### Male-female buyers ratio is similar across the region